@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --neumorphic-bg: #e0e5ec; /* Soft neutral background */
    --neumorphic-shadow-dark: #a3b1c6; /* Darker shadow */
    --neumorphic-shadow-light: #ffffff; /* Lighter shadow/highlight */
    --text-color: #333; /* Darker text for contrast */
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--neumorphic-bg); /* Apply global neumorphic background */
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* This will make the main content grow and push the footer down */
}

