@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans to body */
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* This will make the main content grow and push the footer down */
}
